body {
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
    font-size:15px;
    overflow-y: scroll;
}
#header {
    position: fixed;
    width: 100%;
    height: 100px;
    top:0;
    background-color: #37474f;
    border-bottom: 1px solid #9e9e9e;
    z-index: 99;
}
.aux {
    width: 1100px;
    height: 100px;
    /*background-color: red;*/
    margin: auto;
    position: relative;
    z-index: 1;
}
#logo {
    background-image: url(../img/logo_white.jpg);
    background-size: cover;
    width: 340px;
    height: 100px;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
}

#gnb {
    font-family: 'Noto Serif KR', serif;
    width: 360px;
    height: 100px;
    /*background-color: blue;*/
    float: left;
    margin-top: 10px;
}

#gnb>ul>li.on {
    text-shadow: 0px 0px 5px #ffffff;
}

#gnb>ul>li {
    color: #fff;
    font-size: 24px;
    float: left;
    list-style: none;
    height: 100px;
    width: 120px;
    text-align: center;
    line-height: 110px;
    cursor: pointer;
}
#gnb>ul>li>a {
    display: block;
    width: 120px;
    height: 100px;
    text-decoration: none;
    color: #fff;
}

#gnbBorderEffect {
    width: 50px;
    height:3px;
    background: #FF1744;
    z-index: 3;
    position: relative;
    left: 120px;
    top: 87px;
    display: none;
    transition: .2s ease;
}
#sub {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 100px;
    left:0px;

    overflow: hidden;
    transition: .2s ease;
}
.on  #sub{
    height:120px;
}

#sub ul {
    width: 120px;
    height: 120px;
    /*background-color: #B39DDB;*/
    position: absolute;
    text-align: center;
    margin-top: 6px;
}
#sub li {
    height: 33px;
    line-height: 33px;
}
#rankingMenu {
    left: 460px;
}
#sub li a {
    color: #9e9e9e;
    text-decoration: none;
}
#sub li a:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;

}
#subHoverLine {
    width:100%;
    height:0px;
    background-color: #37474f;
    transition: .2s ease;
    position: absolute;
    top:101px;
}
.on #subHoverLine {
    height:120px;
}

#gameInfoMenu {
    left: 580px;
}


#profileBox {
    width: 150px;
    height: 100px;
    /*background-color: palevioletred;*/
    float: left;
}
#profileImage {
    width: 60px;
    height: 60px;
    /*background-color: palevioletred;*/
    float: right;
    margin-top: 30px;
}
#profileImage img {
	border-radius: 50px;
}


#alarm {
    width: 30px;
    height: 40px;
    /*background-color: green;*/
    float: right;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    color: white;
    margin-top: 60px;
    cursor: pointer;
    position: relative;
}
#gameStartBtn {
    width: 240px;
    height: 80px;
    margin-top: 18px;
    float: right;
    cursor:pointer;
    color: #f68500;
    line-height: 80px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Sedgwick Ave', cursive;
}
#gameStartBtn>a {
    display: block;
    width: 240px;
    height: 80px;
    text-decoration: none;
    color: #f68500;
}
#header::after {
    content: "";
    display: block;
    clear: both;
}

/*새소식 창 작업 - 최수정*/
#news {
    width: 400px;
    height: 600px;
    top: 50px;
    left: -260px;
    position: absolute;
    /*background-color: cornflowerblue;*/
    border: 1px solid #424242;
    display: none;
    background-color: #ffffff;
    color:#37474f;
}

.show #news {
    display: block;
}
#news::before {
    content: "";
    top: -15px;
    right: 110px;
    height: 0;
    width: 0;
    border-color: transparent transparent #424242;
    border-style: solid;
    border-width: 0 15px 15px;
    position: absolute;
}
#news::after {
    content: "";
    top: -14px;
    right: 110px;
    height: 0;
    width: 0;
    border-color: transparent transparent #ffffff;
    border-style: solid;
    border-width: 0 15px 15px;
    position: absolute;
}
#newsHeader {
    height: 50px;
    line-height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    left: 1px;
    padding-left: 20px;
    border-bottom: 1px solid #424242;
    text-indent: -300px;
}
#newsList {
    height: 549px;
    overflow: auto;
    background-color: #fff;
}
#newsList li {
    height: 70px;
    border-bottom: 1px solid #9c9c9c;
    line-height: 70px;
    text-indent: -150px;
}
#newsListTime {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    /*background-color: cornflowerblue;*/
    margin-top: 40px;
    text-indent: 320px;
}

#footer {
    width: 100%;
    height: 200px;
    /*position: absolute;*/
    background-color: #37474f;
    color: #fff;
    text-align: center;
    line-height: 200px;
    bottom: 0;
}


/********************footer************************/

#policy {
	width:800px;
	height:200px;
	display: inline-block;
}

#footer.fixed {
	position: fixed;
	bottom:0;
}
#footer address {
	width:190px;
	height:200px;
	display: inline-block;
	color:#f68500;
}

#footer a {
	color:#fff;
	text-decoration:none;
}
#footer a:hover {
	color:#f68500;
	text-decoration: underline;
}
a.btn {
	text-decoration: none;
}
#footer address a {
	font-weight: 400;
}

#policy ul {
	text-align: center;
}

#policy li {
	display: inline;
	border-left:1px solid #ddd;
	margin-right:9px;
	padding-left: 8px;
}

#policy li:first-child {
	border:none;
}

#policy strong {
	font-weight:400;
}


/***********************************************/


.btn {
    user-select: none;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background-color: #37474f;
    cursor: pointer;
}
.btn:hover {
    background-color: #f68500;
    font-weight: bold;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.msg {
    color: #F44336;
    font-size: 14px;
}
#content{
    min-height:500px;
}
#logoutBtn {
	border: none;
	padding:0;
	background-color: transparent;
	cursor: pointer;
	display: block;
	position: absolute;
	width: 100px;
	height: 20px;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	left: 965px;
	top:75px;
}